@model List<SellSmartPhone.Models.HandleCart.Cart>


@foreach (var item in Model)
{
    <div class="row no-margin cart-item">
        <div class="col-xs-12 col-sm-2 no-margin">
            <a href="#" class="thumb-holder">
                @if (item.LoaiSP == 1111)
                {
                    <img alt="@item.TenSP" src="/image/smartphone/@item.tenhang.Replace(" ",string.Empty).ToLower()/@item.Anh">
                }
                else
                {
                    <img alt="@item.TenSP" src="/image/@item.TenLoai/@item.Anh">
                }
            </a>
        </div>

        <div class="col-xs-12 col-sm-5 ">
            <div class="title">
                <a href="#"> @item.TenSP </a>
            </div>
            <div class="brand">
                @item.tenhang
            </div>
        </div>

        <div class="col-xs-12 col-sm-3 no-margin">
            <div class="quantity">
                <div class="le-quantity">
                    <form>

                        <a class="minus" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#Cart" href="/Cart/subtract?MaSP=@item.MaSP"></a>
                        <input name="quantity" readonly="readonly" type="text" value="@item.Soluong">
                        <a class="plus" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#Cart" href="/Cart/add?MaSP=@item.MaSP"></a>
                    </form>
                </div>
            </div>
        </div>
        @if (item.Giamgia != null)
        {
            <div class="col-xs-12 col-sm-2 no-margin">
                <div class="price" style="padding-right:15px;">
                    <strong>@string.Format("{0:0,0}", item.giá_mới)<span style="text-decoration:line-through">@string.Format("{0:0,0}", item.Gia)</span><br /> VNĐ</strong>
                </div>
                <a class="close-btn" href="/Cart/DeleteCart?MaSP=@item.MaSP" onclick="return confirm('Bạn có muốn xoá sản phẩm này khỏi giỏ hàng?')"></a>
            </div>
        }
        else
        {
            <div class="col-xs-12 col-sm-2 no-margin">
                <div class="price" style="padding-right:15px;">
                    <strong>@string.Format("{0:0,0}", item.Gia) VNĐ</strong>
                </div>
                <a class="close-btn" href="/Cart/DeleteCart?MaSP=@item.MaSP" onclick="return confirm('Bạn có muốn xoá sản phẩm này khỏi giỏ hàng?')"></a>
            </div>
        }

    </div>

}

