@model List<SellSmartPhone.Models.HandleCart.Cart>

@{ double? total = 0;
}

    <link href="~/template/assets/css/main.css" rel="stylesheet" />
    <div class="container">
        <div class="col-xs-12 col-md-9 items-holder no-margin">
            @foreach (var item in Model)
            {

            <div class="row no-margin cart-item">
                <div class="col-xs-12 col-sm-2 no-margin">
                    <a href="#" class="thumb-holder">
                        @if (item.LoaiSP == 1111)
                        {
                            <img style="padding: 10px;" alt="@item.TenSP" src="/image/smartphone/@item.tenhang.Replace(" ",string.Empty).ToLower()/@item.Anh">
                        }
                        else
                        {
                            <img style="padding: 10px;" alt="@item.TenSP" src="/image/@item.TenLoai/@item.Anh">
                        }
                    </a>
                </div>

                <div class="col-xs-12 col-sm-5 ">
                    <div class="title">
                        <a href="#"> @item.TenSP </a>
                    </div>
                    <div class="brand">
                        @item.tenhang
                    </div>
                </div>

                <div class="col-xs-12 col-sm-3 no-margin">
                    <div class="quantity">
                        <div class="le-quantity">
                            <form>
                                <a class="minus" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#Cart" href="/Cart/SubCart?idSP=@item.MaSP"></a>
                                <input name="quantity" readonly="readonly" type="text" value="@item.Soluong">
                                <a class="plus" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#Cart" href="/Cart/AddCart?idSP=@item.MaSP"></a>
                            </form>
                        </div>
                    </div>
                </div>
                @if (item.Giamgia != null)
                {
                    <div class="col-xs-12 col-sm-2 no-margin">
                        <div class="price" style="padding-right:15px;">
                            <strong>@string.Format("{0:0,0}", item.giamoi) VNĐ</strong><br /><strong style="text-decoration:line-through">@string.Format("{0:0,0}", item.Gia) VNĐ</strong>
                        </div>
                        <a class="close-btn" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#Cart" data-ajax-method="GET" style="color:red; padding-left:2px" href="/Cart/DeleteCart?idSP=@item.MaSP" onclick="return confirm('Bạn có muốn xoá sản phẩm này khỏi giỏ hàng?')">Xoá sản phẩm</a>
                    </div>
                    total += item.giamoi * item.Soluong;
                }
                else
                {
                    <div class="col-xs-12 col-sm-2 no-margin">
                        <div class="price" style="padding-right:15px;">
                            <strong>@string.Format("{0:0,0}", item.Gia) VNĐ</strong>
                        </div>
                        <a class="close-btn" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#Cart" style="color:red; padding-left:2px" href="/Cart/DeleteCart?idSP=@item.MaSP" onclick="return confirm('Bạn có muốn xoá sản phẩm này khỏi giỏ hàng?')">Xoá sản phẩm</a>
                    </div>
                    total += item.Gia * item.Soluong;
                }

            </div>

            }
        </div>
        <!-- ========================================= SIDEBAR ========================================= -->
        <div class="col-xs-12 col-md-3 no-margin sidebar" style="padding-left:30px;">
            <div class="widget cart-summary">
                <h1 class="border">Giỏ hàng</h1>
                <div class="body">
                    <ul class="tabled-data no-border inverse-bold">
                        <li>
                            <label>Tổng tiền sản phẩm :</label>
                            <div class="value pull-right">@string.Format("{0:0,0}", total)</div>
                        </li>
                        <li>
                            <label>Tổng số lượng :</label>
                            <div class="value pull-right">ViewBag.countCart</div>
                        </li>
                        <li>
                            <label>Phí vận chuyển :</label>
                            <div class="value pull-right">Miễn phí</div>
                        </li>
                    </ul>
                    <ul id="total-price" class="tabled-data inverse-bold no-border">
                        <li>
                            <label>Tổng tiền :</label>
                            <div class="value pull-right">@string.Format("{0:0,0}", total)</div>
                        </li>
                    </ul>
                    <div class="buttons-holder">
                        <a class="le-button big" href="@Url.Action("Checkout", "Cart")">Chấp thuận</a>
                        <a class="simple-link block" href="@Url.Action("Index", "Home")">Tiếp tục mua hàng</a>
                    </div>
                </div>
            </div><!-- /.widget -->

            <div id="cupon-widget" class="widget">
                <h1 class="border">Mã khuyến mãi</h1>
                <div class="body">
                    <form>
                        <div class="inline-input">
                            <input data-placeholder="enter coupon code" type="text" class="placeholder" />
                            <button class="le-button" type="submit">Áp dụng</button>
                        </div>
                    </form>
                </div>
            </div><!-- /.widget -->
        </div><!-- /.sidebar -->
    </div>
    <!-- ========================================= SIDEBAR : END ========================================= -->
