
@model IEnumerable<SellSmartPhone.Models.get_product_discount_Result>

    <script type="text/javascript">
        function AddToCart(item) {
            var idItem = $(item).attr("idItem");
            var formData = new FormData();
            formData.append("idItem", idItem);

            $ajax({
                async: true,
                type: 'POST',
                contentType: false,
                processData: false,
                data: formData,
                url: "/Cart/Index",
                success: function (data) {

                },
                error: function () {
                    alert("Có vấn đề");
                }
            });
    </script>

<div class="product-grid-holder">
    <div id="spnoibat">
        @foreach (var item in Model)
        {
            if (item.LoaiSP == 1111)
            {
                <div class="col-sm-4 col-md-3  no-margin product-item-holder hover">
                    <div class="product-item">
                        @if (item.Giamgia != null)
                        {
                            <div class="ribbon green"><span>Giảm @item.Giamgia %</span></div>
                        }
                        @if (item.Isnew != 0)
                        {
                            <div class="ribbon blue"><span>Mới nhập</span></div>
                        }
                        @if (item.Ishot != 0)
                        {
                            <div class="ribbon red"><span>Hot</span></div>
                        }
                        <div class="image">
                            <img alt="@item.TenSP" src="/image/smartphone/@item.tenhang.Replace(" ",string.Empty).ToLower()/@item.Anh">
                        </div>
                        <div class="body">
                            <div class="label-discount clear"></div>
                            <div class="title">
                                <a href="/Product/index/@item.MaSP">@item.TenSP</a>
                            </div>

                        </div>
                        @if (item.Giamgia != null)
                        {
                            <div class="prices">
                                <div class="price-prev">@string.Format("{0:0,0}", item.Gia)  VNĐ</div>
                                <div class="price-current text-right"> @string.Format("{0:0,0}", item.giá_mới)  VNĐ</div>
                            </div>
                        }
                        else
                        {
                            <div class="prices">
                                <div class="price-current text-right"> @string.Format("{0:0,0}", item.Gia) VNĐ</div>
                            </div>
                        }
                        <div class="hover-area">
                            <div class="add-cart-button">
                                <a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#basket" href="/navbar/addBasket?MaSP=@item.MaSP" class="le-button" onclick="return alert('Thêm vào giỏ thành công.');">Cho vào giỏ</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="col-sm-4 col-md-3  no-margin product-item-holder hover">
                    <div class="product-item">
                        @if (item.Giamgia != null)
                        {
                            <div class="ribbon green"><span>Giảm @item.Giamgia %</span></div>
                        }
                        @if (item.Isnew != 0)
                        {
                            <div class="ribbon blue"><span>Mới nhập</span></div>
                        }
                        @if (item.Ishot != 0)
                        {
                            <div class="ribbon red"><span>Hot</span></div>
                        }
                        <div class="image">
                            <img alt="@item.TenSP" src="/image/@item.TenLoai/@item.Anh">
                        </div>
                        <div class="body">
                            <div class="label-discount clear"></div>
                            <div class="title">
                                <a href="/Product/index/@item.MaSP">@item.TenSP</a>
                            </div>

                        </div>
                        @if (item.Giamgia != null)
                        {
                            <div class="prices">
                                <div class="price-prev">@string.Format("{0:0,0}", item.Gia)  VNĐ</div>
                                <div class="price-current text-right"> @string.Format("{0:0,0}", item.giá_mới)  VNĐ</div>
                            </div>
                        }
                        else
                        {
                            <div class="prices">
                                <div class="price-current text-right"> @string.Format("{0:0,0}", item.Gia) VNĐ</div>
                            </div>
                        }
                        <div class="hover-area">
                            <div class="add-cart-button">
                                <a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#basket" href="/navbar/addBasket?MaSP=@item.MaSP" class="le-button" onclick="return alert('Thêm vào giỏ thành công.');">Cho vào giỏ</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>