@model IEnumerable<SellSmartPhone.Models.DonhangKH>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ADMIN/Views/Shared/_LayoutPage.cshtml";
}


@using (Html.BeginForm("Index", "BaoHanh", FormMethod.Get))
{
    <center>
        @Html.TextBox("search") <input type="submit" value="Search" />
    </center>

    <br />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaDH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaKH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phivanchuyen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhuongthucTT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngaydatmua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TongTien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tinhtrangdonhang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ghichu)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaDH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaKH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phivanchuyen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhuongthucTT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ngaydatmua)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TongTien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tinhtrangdonhang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ghichu)
                </td>
                <td>
                   
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) 
                  
                </td>
            </tr>
        }

    </table>
}
