@using PagedList;
@using PagedList.Mvc;
@model IPagedList<SellSmartPhone.Models.viewproductHome>
@{
    int i = 0;
}
<div class="product-grid-holder">
    <div id="spnoibat">
        @foreach (var item in Model)
        {
            if (ViewBag.listloaisp[i].MaLoai == 1111)
            {
                <div class="col-sm-4 col-md-3  no-margin product-item-holder hover">
                    <div class="product-item">
                        @if (item.Isnew != 0)
                        {
                            <div class="ribbon blue"><span>Mới nhập</span></div>
                        }
                        @if (item.Ishot != 0)
                        {
                            <div class="ribbon red"><span>Hot</span></div>
                        }
                        <div class="image">
                            <img alt="@item.Tensp" src="/image/smartphone/@item.Tenhangsx.Replace(" ",string.Empty).ToLower()/@item.Anh">
                        </div>
                        <div class="body">
                            <div class="label-discount clear"></div>

                            <div class="title">
                                <a href="#">@item.Tensp</a>
                            </div>

                        </div>
                        <div class="prices">
                            <div class="price-current text-right"> @string.Format("{0:0,0}", item.Gia) VNĐ</div>
                        </div>
                        <div class="hover-area">
                            <div class="add-cart-button">
                                <a href="#" class="le-button">Cho vào giỏ</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="col-sm-4 col-md-3  no-margin product-item-holder hover">
                    <div class="product-item">
                        @if (item.Isnew != 0)
                        {
                            <div class="ribbon blue"><span>Mới nhập</span></div>
                        }
                        @if (item.Ishot != 0)
                        {
                            <div class="ribbon red"><span>Hot</span></div>
                        }
                        <div class="image">
                            <img alt="@item.Tensp" src="/image/@ViewBag.listloaisp[i].TenLoai/@item.Anh">
                        </div>
                        <div class="body">
                            <div class="label-discount clear"></div>

                            <div class="title">
                                <a href="#">@item.Tensp</a>
                            </div>

                        </div>
                        <div class="prices">
                            <div class="price-current text-right"> @string.Format("{0:0,0}", item.Gia) VNĐ</div>
                        </div>
                        <div class="hover-area">
                            <div class="add-cart-button">
                                <a href="#" class="le-button">Cho vào giỏ</a>
                            </div>
                        </div>
                    </div>
                </div>

            }
            i++;

        }
    </div>
</div>
<div class="pagination-holder" style="clear:both;">
    <div class="row">
        <div class="col-xs-12 col-sm-6 text-left">
            <!--=============== paramater id,type,sort sẽ được pass đến /search/index mỗi lần chuyển trang =================-->
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, id = Session["id"],type =Session["type"],sort= Session["sort"],btnsearch=Session["btnsearch"]  }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "tableresult" }))
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="result-counter" style="font-weight:600;">
                Có tât cả <span>@ViewBag.countnumber</span> sản phẩm.
            </div>
        </div>
    </div><!-- /.row -->
</div><!-- /.pagination-holder -->