@model IEnumerable<SellSmartPhone.Models.get_product_discount_Result>
<div class="container">
    <div class="carousel-holder hover">

        <div class="title-nav">
            <h2 class="h1">Sản Phẩm Liên Quan</h2>
            @*<div class="nav-holder">
                    <a href="#prev" data-target="#owl-recently-viewed" class="slider-prev btn-prev fa fa-angle-left"></a>
                    <a href="#next" data-target="#owl-recently-viewed" class="slider-next btn-next fa fa-angle-right"></a>
                </div>*@
        </div><!-- /.title-nav -->
        <div id="owl-recently-viewed" class="owl-carousel product-grid-holder owl-theme" style="opacity: 1; display: block;">
            @foreach (var item in Model)
            {
                <div class="owl-wrapper-outer">
                    <div class="owl-wrapper" style="width: 2340px; left: 0px; display: block;">

                        <div class="owl-item" style="width: 195px;">
                            <div class="no-margin carousel-item product-item-holder size-small hover">
                                @if (item.LoaiSP == 1111)
                                {
                                    <div class="product-item">
                                        @if (item.Giamgia != null)
                                        {
                                            <div class="ribbon green"><span>Giảm @item.Giamgia %</span></div>
                                        }
                                        @if (item.Isnew != 0)
                                        {
                                            <div class="ribbon blue"><span>Mới nhập</span></div>
                                        }
                                        @if (item.Ishot != 0)
                                        {
                                            <div class="ribbon red"><span>Hot</span></div>
                                        }
                                        <div class="image">
                                            <img alt="@item.TenSP" src="/image/smartphone/@item.tenhang.Replace(" ", string.Empty).ToLower()/@item.Anh">
                                        </div>
                                        <div class="body">
                                            <div class="label-discount clear"></div>
                                            <div class="title">
                                                <a href="/Product/index/@item.MaSP">@item.TenSP</a>
                                            </div>

                                        </div>
                                        @if (item.Giamgia != null)
                                        {
                                            <div class="prices">
                                                <div class="price-prev">@string.Format("{0:0,0}", item.Gia)  VNĐ</div>
                                                <div class="price-current text-right"> @string.Format("{0:0,0}", item.giá_mới)  VNĐ</div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="prices">
                                                <div class="price-current text-right"> @string.Format("{0:0,0}", item.Gia) VNĐ</div>
                                            </div>
                                        }
                                        <div class="hover-area">
                                            @*<div class="add-cart-button">
                                                <a href="#" class="le-button">Cho vào giỏ</a>
                                            </div>*@
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="product-item">
                                        @if (item.Giamgia != null)
                                        {
                                            <div class="ribbon green"><span>Giảm @item.Giamgia %</span></div>
                                        }
                                        @if (item.Isnew != 0)
                                        {
                                            <div class="ribbon blue"><span>Mới nhập</span></div>
                                        }
                                        @if (item.Ishot != 0)
                                        {
                                            <div class="ribbon red"><span>Hot</span></div>
                                        }
                                        <div class="image">
                                            <img alt="@item.TenSP" src="/image/@item.TenLoai/@item.Anh">
                                        </div>
                                        <div class="body">
                                            <div class="label-discount clear"></div>
                                            <div class="title">
                                                <a href="/Product/index/@item.MaSP">@item.TenSP</a>
                                            </div>

                                        </div>
                                        @if (item.Giamgia != null)
                                        {
                                            <div class="prices">
                                                <div class="price-prev">@string.Format("{0:0,0}", item.Gia)  VNĐ</div>
                                                <div class="price-current text-right"> @string.Format("{0:0,0}", item.giá_mới)  VNĐ</div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="prices">
                                                <div class="price-current text-right"> @string.Format("{0:0,0}", item.Gia) VNĐ</div>
                                            </div>
                                        }
                                        <div class="hover-area">
                                            @*<div class="add-cart-button">
                                                <a href="#" class="le-button">Cho vào giỏ</a>
                                            </div>*@
                                        </div>
                                    </div>
                                }


                            </div>
                        </div>

                    </div>
                </div>
                <!-- /.product-item-holder -->
            }
        </div><!-- /#recently-carousel -->
    </div><!-- /.carousel-holder -->
</div><!-- /.container -->
