@model SellSmartPhone.Models.get_product_discount_Result
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Iconcart{
    @{ Html.RenderAction("viewBasket", "navbar");}
}
@*thư viện ajax*@
<script src="~/Scripts/jquery-3.5.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<div>
    @if (Model.LoaiSP == 1111)
    {
        <div id="single-product" class="">
            <div class="container">
                <div class="no-margin col-xs-12 col-sm-6 col-md-5 gallery-holder">
                    <div class="product-item-holder size-big single-product-gallery small-gallery">
                        <div id="owl-single-product" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                            <div class="owl-wrapper-outer">
                                <div class="owl-wrapper" style="width: 2598px; left: 0px; display: block;">
                                    <div class="owl-item" style="width: 433px;">
                                        <div class="single-product-gallery-item" id="slide1">
                                            <a data-rel="prettyphoto" href="#">
                                                <img class="img-responsive" alt="@Model.TenSP" src="/image/smartphone/@Model.tenhang.Replace(" ",string.Empty).ToLower()/@Model.Anh" width="353">
                                            </a>
                                        </div>
                                    </div>
                                    @*<div class="owl-item" style="width: 433px;">
                                            <div class="single-product-gallery-item" id="slide2">
                                                <a data-rel="prettyphoto" href="#">
                                                    <img class="img-responsive" alt="" src="/image/smartphone/@Model.tenhang.Replace(" ",string.Empty).ToLower()/@Model.Anh">
                                                </a>
                                            </div>
                                        </div>*@
                                </div>
                            </div><!-- /.single-product-gallery-item -->
                            <!-- /.single-product-gallery-item -->
                            <!-- /.single-product-gallery-item -->
                        </div><!-- /.single-product-slider -->

                        <div class="single-product-gallery-thumbs gallery-thumbs">
                            <div id="owl-single-product-thumbnails" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                                <div class="owl-wrapper-outer">
                                    <div class="owl-wrapper" style="width: 432px; left: 0px; display: block;">
                                        <div class="owl-item" style="width: 72px;">
                                            <a class="horizontal-thumb active" data-target="#owl-single-product" data-slide="0" href="#slide1">
                                                <img width="67" alt="@Model.TenSP" src="/image/smartphone/@Model.tenhang.Replace(" ",string.Empty).ToLower()/@Model.Anh">
                                            </a>
                                        </div>@*<div class="owl-item" style="width: 72px;">
                                                <a class="horizontal-thumb" data-target="#owl-single-product" data-slide="1" href="#slide2">
                                                    <img width="67" alt="" src="/image/smartphone/@Model.tenhang.Replace(" ",string.Empty).ToLower()/@Model.Anh">
                                                </a>
                                            </div>*@
                                    </div>
                                </div>
                            </div><!-- /#owl-single-product-thumbnails -->
                        </div><!-- /.gallery-thumbs -->
                    </div><!-- /.single-product-gallery -->
                </div><!-- /.gallery-holder -->
                <div class="no-margin col-xs-12 col-sm-7 body-holder">
                    <div class="body">
                        @if (ViewBag.status > 0)
                        {
                            <div class="availability">
                                <label>Tình trạng:</label> <span class="available"> Còn hàng </span>
                            </div>
                        }
                        else
                        {
                            <div class="availability">
                                <label>Tình trạng:</label> <span class="not-available"> Hết hàng </span>
                            </div>
                        }

                        <div class="title"><a href="#">@Model.TenSP</a></div>

                        @if (Model.Giamgia != null)
                        {
                            <div class="excerpt">
                                <label>Khuyến mãi:</label>
                                <div class="text-capitalize" style="background-color: #efefef">
                                    <p>@ViewBag.ttkm.noidung</p>
                                </div>
                            </div>
                            <div class="brand"></div>
                            <div class="prices">
                                <div class="price-prev">@string.Format("{0:0,0}", Model.Gia)  VNĐ</div>
                                <div class="price-current text-right"> @string.Format("{0:0,0}", Model.giá_mới)  VNĐ</div>
                            </div>
                        }
                        else
                        {
                            <div class="excerpt">
                                <label>Khuyến mãi:</label>
                                <div class="text-capitalize" style="background-color: #efefef">
                                    <p>Hiện tại không có thông tin khuyến mãi cho sản phẩm này.</p>
                                </div>
                            </div>
                            <div class="brand"></div>
                            <div class="prices">
                                <div class="price-current"> @string.Format("{0:0,0}", Model.Gia)  VNĐ</div>
                            </div>
                        }
                        <script>
                            function Add() {
                                var num = parseInt(document.getElementById("number").value, 10);
                                num = isNaN(num) ? 1 : num;
                                num = num + 1;
                                if (num > @ViewBag.status) num = num - 1;

                                document.getElementById('number').value = num;
                            }
                            function Subtrac() {
                                var num = parseInt(document.getElementById("number").value, 10);
                                num = isNaN(num) ? 1 : num;
                                if (num > 1) num--;
                                document.getElementById('number').value = num;
                            }
                        </script>
                        <div class="qnt-holder">
                            <div class="le-quantity">
                                <form>
                                    <a class="minus" href="#" onclick="Subtrac();"></a>
                                    @if (ViewBag.status > 0)
                                    {
                                        <input name="quantity" id="number" class="sl" readonly="readonly" type="text" value="1">
                                    }
                                    else
                                    {
                                        <input name="quantity" id="number" class="sl" readonly="readonly" type="text" value="0">
                                    }
                                    <a class="plus" href="#" onclick="Add();"></a>
                                </form>
                            </div>
                            <a id="addto-cart" href="#" class="le-button huge">Cho vào giỏ</a>
                        </div><!-- /.qnt-holder -->
                    </div><!-- /.body -->
                </div><!-- /.body-holder -->
            </div><!-- /.container -->
        </div><!-- /.single-product -->

    }
    else
    {
        <div id="single-product" class="">
            <div class="container">
                <div class="no-margin col-xs-12 col-sm-6 col-md-5 gallery-holder">
                    <div class="product-item-holder size-big single-product-gallery small-gallery">
                        <div id="owl-single-product" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                            <div class="owl-wrapper-outer">
                                <div class="owl-wrapper" style="width: 2598px; left: 0px; display: block;">
                                    <div class="owl-item" style="width: 433px;">
                                        <div class="single-product-gallery-item" id="slide1">
                                            <a data-rel="prettyphoto" href="#">
                                                <img class="img-responsive" alt="@Model.TenSP" src="/image/@Model.TenLoai/@Model.Anh" width="353">
                                            </a>
                                        </div>
                                    </div>
                                    @*<div class="owl-item" style="width: 433px;">
                                            <div class="single-product-gallery-item" id="slide2">
                                                <a data-rel="prettyphoto" href="#">
                                                    <img class="img-responsive" alt="" src="/image/smartphone/@Model.tenhang.Replace(" ",string.Empty).ToLower()/@Model.Anh">
                                                </a>
                                            </div>
                                        </div>*@
                                </div>
                            </div><!-- /.single-product-gallery-item -->
                            <!-- /.single-product-gallery-item -->
                            <!-- /.single-product-gallery-item -->
                        </div><!-- /.single-product-slider -->

                        <div class="single-product-gallery-thumbs gallery-thumbs">
                            <div id="owl-single-product-thumbnails" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                                <div class="owl-wrapper-outer">
                                    <div class="owl-wrapper" style="width: 432px; left: 0px; display: block;">
                                        <div class="owl-item" style="width: 72px;">
                                            <a class="horizontal-thumb active" data-target="#owl-single-product" data-slide="0" href="#slide1">
                                                <img width="67" alt="@Model.TenSP" src="/image/@Model.TenLoai/@Model.Anh">
                                            </a>
                                        </div>@*<div class="owl-item" style="width: 72px;">
                                                <a class="horizontal-thumb" data-target="#owl-single-product" data-slide="1" href="#slide2">
                                                    <img width="67" alt="" src="/image/smartphone/@Model.tenhang.Replace(" ",string.Empty).ToLower()/@Model.Anh">
                                                </a>
                                            </div>*@
                                    </div>
                                </div>
                            </div><!-- /#owl-single-product-thumbnails -->
                        </div><!-- /.gallery-thumbs -->
                    </div><!-- /.single-product-gallery -->
                </div><!-- /.gallery-holder -->
                <div class="no-margin col-xs-12 col-sm-7 body-holder">
                    <div class="body">
                        @if (ViewBag.status > 0)
                        {
                            <div class="availability">
                                <label>Tình trạng:</label> <span class="available"> Còn hàng </span>
                            </div>
                        }
                        else
                        {
                            <div class="availability">
                                <label>Tình trạng:</label> <span class="not-available"> Hết hàng </span>
                            </div>
                        }
                        <div class="title"><a href="#">@Model.TenSP</a></div>

                        <div class="brand"></div>
                        @if (Model.Giamgia != null)
                        {
                            <div class="excerpt">
                                <label>Khuyến mãi:</label>
                                <div class="text-capitalize" style="background-color: #efefef">
                                    <p>@ViewBag.ttkm.noidung</p>
                                </div>
                            </div>
                            <div class="prices">
                                <div class="price-prev">@string.Format("{0:0,0}", Model.Gia)  VNĐ</div>
                                <div class="price-current text-right"> @string.Format("{0:0,0}", Model.giá_mới)  VNĐ</div>
                            </div>
                        }
                        else
                        {
                            <div class="excerpt">
                                <label>Khuyến mãi:</label>
                                <div class="text-capitalize" style="background-color: #efefef">
                                    <p>Hiện tại không có thông tin khuyến mãi cho sản phẩm này.</p>
                                </div>
                            </div>
                            <div class="prices">
                                <div class="price-current"> @string.Format("{0:0,0}", Model.Gia)  VNĐ</div>
                            </div>
                        }
                        <script>
                            function Add() {
                                var num = parseInt(document.getElementById("number").value, 10);
                                num = isNaN(num) ? 1 : num;
                                num = num + 1;
                                if (num > @ViewBag.status) num = num - 1;

                                document.getElementById('number').value = num;
                            }
                            function Subtrac() {
                                var num = parseInt(document.getElementById("number").value, 10);
                                num = isNaN(num) ? 1 : num;
                                if (num > 1) num--;
                                document.getElementById('number').value = num;
                            }
                        </script>
                        <div class="qnt-holder">
                            <div class="le-quantity">
                                <form>
                                    <a class="minus" href="#" onclick="Subtrac();"></a>
                                    @if (ViewBag.status > 0)
                                    {
                                        <input name="quantity" id="number" class="sl" readonly="readonly" type="text" value="1">
                                    }
                                    else
                                    {
                                        <input name="quantity" id="number" class="sl" readonly="readonly" type="text" value="0">
                                    }
                                    <a class="plus" href="#" onclick="Add();"></a>
                                </form>
                            </div>
                            <a id="addto-cart" href="#" class="le-button huge">Cho vào giỏ</a>
                        </div><!-- /.qnt-holder -->
                    </div><!-- /.body -->
                </div><!-- /.body-holder -->
            </div><!-- /.container -->
        </div><!-- /.single-product -->
    }


    <!-- ========================================= SINGLE PRODUCT TAB ========================================= -->
    <section id="single-product-tab">
        <div class="container">
            <div class="tab-holder">
                <ul class="nav nav-tabs simple">
                    <li class="active" id="mota"> <a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#description" href="/Product/Infoproduct">Mô tả</a> </li>
                    <li id="thongso"><a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#description" href="/Product/Thongso">Thông số kỹ thuật</a></li>
                    <li id="binhluan"><a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#description" href="/Product/comment">Bình luận</a></li>
                </ul><!-- /.nav-tabs -->
                <div class="tab-content" id="description">
                    @{Html.RenderAction("Infoproduct", "product"); }
                </div><!-- /.tab-content -->
            </div><!-- /.tab-holder -->
        </div><!-- /.container -->
    </section><!-- /#single-product-tab -->
    <!-- ========================================= SINGLE PRODUCT TAB : END ========================================= -->
    <!-- ========================================= SAN PHAM LIEN QUAN ========================================= -->
    <!-- /#recently-reviewd -->
    <section id="recently-reviewd" class="wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
        @{ Html.RenderAction("productReative");}
    </section><!-- /#recently-reviewd -->;
    <!-- ========================================= RECENTLY VIEWED : END ========================================= -->
</div>

<script>
    $("#mota").click(function () {
        this.classList.add("active");
        var element = document.getElementById("thongso");
        element.classList.remove("active");
        var element1 = document.getElementById("binhluan");
        element1.classList.remove("active");
    })
    $("#thongso").click(function () {
        this.classList.add("active");
        var element = document.getElementById("mota");
        element.classList.remove("active");
        var element1 = document.getElementById("binhluan");
        element1.classList.remove("active");
    })
    $("#binhluan").click(function () {
        this.classList.add("active");
        var element = document.getElementById("mota");
        element.classList.remove("active");
        var element1 = document.getElementById("thongso");
        element1.classList.remove("active");
    })
    document.title = 'Chi tiết sản phẩm'
</script>
